---
# configuration for https://pre-commit.com
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: end-of-file-fixer
#      - id: mixed-line-ending
#      - id: trailing-whitespace
#      - id: check-json
#      - id: pretty-format-json
#        args: ["--autofix", "--no-sort-keys", "--indent=4"]
#  - repo: https://github.com/codespell-project/codespell
#    rev: v2.1.0
#    hooks:
#      - id: codespell
#        args: ["-L", "fpr, tre, sav"]
#        exclude: >
#            (?x)^(
#                .*\.svg|
#                .*\.ipynb
#            )$
#  - repo: https://github.com/asottile/pyupgrade
#    rev: v2.37.3
#    hooks:
#      - id: pyupgrade
#  - repo: https://github.com/PyCQA/isort
#    rev: 5.10.1
#    hooks:
#      - id: isort
#        args: ["--profile", "black"]
#  - repo: https://github.com/psf/black
#    rev: 22.6.0
#    hooks:
#      - id: black-jupyter
...
