---
name: lint

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.cff'
      - 'setup.py'

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test] pylint

      - name: pylint
        run: |
          pylint -v --recursive=True sacroml tests --fail-under 10
...
