---
name: sphinx build

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

     - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Run sphinx
        run: |
          pip install -r ./docs/requirements.txt
          sphinx-build -D todo_include_todos=0 ./docs/source ./docs/_build/html/

      - name: Commit changes
        run: |
          git clone https://github.com/AI-SDC/AI-SDC.git --branch gh-pages --single-branch gh-pages
          cp -r docs/_build/html/* gh-pages/
          cd gh-pages
          touch .nojekyll
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update documentation" -a || true

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
...
