---
name: sphinx build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.cff'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Pandoc
        uses: pandoc/actions/setup@v1
        with:
          version: '3.1.2'

      - name: Copy notebooks to source directory
        run: |
          cp -r examples/notebooks/* docs/source/notebooks/
          cp examples/risk_examples/python/*.ipynb docs/source/notebooks/

      - name: Run sphinx
        run: |
          pip install .[doc]
          sphinx-build ./docs/source ./docs/_build/html/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html/
          force_orphan: true
...
